<h2><a href="/posts/<%=@id%>"><%= @title %></a> </h2>

<% if @user_id != nil %><p>By <%= @user_name %></p><% end %>

<p><%= @content %></p>

<p class="edit">
  <a href="/posts/<%=@id%>/edit"><i class="icon-edit"></i></a> 
  <a href="/posts/<%=@id%>/delete"><i class="icon-trash"></i></a>
</p>

<p class="tags">tags:
  <% @tags.each do |tag| %>
    <a href="/posts/tag/<%=tag.id%>"><%= tag.name %></a>
  <% end %>
</p>

